<div class="container mt-5">
    <div *ngIf="chambre" class="row align-items-start">
        <!-- Left Section: Sidebar and Main Image -->
        <div class="col-md-6 d-flex">
            <div class="sidebar">
                <div class="thumbnails">
                    <img *ngFor="let image of chambre.images" [src]="image" alt="{{ chambre.name }}"
                        class="img-thumbnail" (click)="selectImage(image)" [class.active]="image === selectedImage" />
                </div>
            </div>
            <div class="main-image-container">
                <img [src]="selectedImage" alt="{{ chambre.name }}" class="main-image" />
            </div>
        </div>

        <!-- Right Section: chambre Information -->
        <div class="col-md-6">
            <h2 class="chambre-title">{{ chambre.name }}</h2>
            <h3> <strong>
                    <p class="text-success price">
                        <!-- <strong>Prix:</strong> -->
                        {{ chambre.price }} TND
                    </p>
                </strong>
            </h3>
            <div class="chambre-info mt-3">
                <p class="description">
                    <!-- <strong>Description:</strong> -->
                    {{ chambre.description }}
                </p>
                <p class="dimensions"><strong>Dimensions:</strong> {{ chambre.dimensions }}</p>
                <p class="material"><strong>Matières:</strong> {{ chambre.material }}</p>
                <div class="color-samples">
                    <!-- <strong>Couleurs:</strong> -->
                    <span *ngFor="let color of chambre.colors" [style.backgroundColor]="color" class="color-sample"
                        title="{{ color }}"></span>
                </div>
                <!-- <p><strong>Type:</strong> {{ chambre.type }}</p> -->
            </div>
            <div class="quantity-input">
                <label for="quantity">Quantité:</label>
                <input type="number" id="quantity" [(ngModel)]="quantity" min="1" max="{{ chambre.stock }}"
                    class="form-control" [disabled]="chambre.stock === 0" (input)="validateQuantity()" />
            </div>
            <!-- Error messages -->
            <div *ngIf="quantityError" class="text-danger">
                {{ quantityError }}
            </div>
            <button [disabled]="chambre.stock! === 0" class="btn custom-btn" title="Add to Cart"
                (click)="addToCart(chambre,quantity)">
                <i class="fa-solid fa-cart-shopping"></i>
                Ajouter au panier
            </button>
        </div>
    </div>

    <div *ngIf="!chambre">
        <p>Chambre non trouvé.</p>
    </div>
</div>