<footer class="py-5 bg-dark text-light mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>Contactez-nous</h5>
                <p><i class="fas fa-phone"></i> +216 123 456 789</p>
                <p><i class="fas fa-envelope"></i> contact&#64;touchmeuble.tn</p>
                <p><i class="fas fa-map-marker-alt"></i> Tunis, Tunisie</p>
            </div>
            <!-- <div class="col-lg-4">
          <h5>Liens utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Politique de confidentialité</a></li>
            <li><a href="#" class="text-light">Mentions légales</a></li>
          </ul>
        </div> -->
            <div class="col-lg-4 text-center">
                <h5>Suivez-nous</h5>
                <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>