<footer class=" mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h6>Contact Sfax</h6>
                <p><i class="fas fa-phone"></i> +216 123 456 789</p>
                <p><i class="fas fa-envelope"></i> touch.meuble&#64;gmail.com</p>
                <p><i class="fas fa-envelope"></i> touch.meuble25&#64;gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Route Tunis Km 2,5, Sfax, Tunisia, 3064 </p>
            </div>
            <div class="col-lg-4">
                <h6>Contact Tunis</h6>
                <p><i class="fas fa-phone"></i> +216 123 456 789</p>
                <p><i class="fas fa-map-marker-alt"></i> Tunis, Tunisie</p>
            </div>
            <!-- <div class="col-lg-4">
          <h5>Liens utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="">Politique de confidentialité</a></li>
            <li><a href="#" class="">Mentions légales</a></li>
          </ul>
        </div> -->
            <div class="col-lg-4">
                <h6>Suivez-nous</h6>
                <a href="#" class=" me-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class=" me-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class=""><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
<div class="subfooter__item subfooter__item--copyright">
    <p style="font-size:12px"><span class="subfooter__copyright"> © <a href="/" title="">Touch Meuble</a> 2024 </span>
        Designed by <strong><a href="https://www.facebook.com/tansik.production/" style="color: #3e478c;"
                target="_blank">Tansik Prod </a></strong></p>
</div>