<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets/Smart Ways I.png" alt="Logo" class="navbar-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="products-management">Gestion des Meubles</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="salons-management">Gestion des Salons</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="chambres-management">Gestion des Chambres</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="salles-management">Gestion des Salle à Manger</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="packs-management">Gestion des packs</a>
        </li>

        
        <!-- Meubles Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link" routerLink="products" id="meublesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meuble
          </a>
          <ul class="dropdown-menu" aria-labelledby="meublesDropdown">
            <li *ngFor="let type of meublesUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/products', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>

        <!-- Salons Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link" routerLink="salons" id="salonsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Salon
          </a>
          <ul class="dropdown-menu" aria-labelledby="salonsDropdown">
            <li *ngFor="let type of salonsUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/salons', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>

        <!-- Chambres Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link" routerLink="chambres" id="chambresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chambre
          </a>
          <ul class="dropdown-menu" aria-labelledby="chambresDropdown">
            <li *ngFor="let type of chambresUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/chambres', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>

        <!-- Salles à Manger Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link" routerLink="salles" id="salleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Salle à Manger
          </a>
          <ul class="dropdown-menu" aria-labelledby="salleDropdown">
            <li *ngFor="let type of sallesUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/salles', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="packs">Packs</a>
        </li>
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a class="nav-link chic-link" routerLink="contact">Contact</a>
        </li>
      </ul>




      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <form class="d-flex mx-3" *ngIf="userType !== 'admin'">
          <input class="form-control me-2" type="search" placeholder="Recherche..." aria-label="Search">
        </form>
        <li class="nav-item" style="margin-right: 25px;" *ngIf="userType !== 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="cart"><i class="fas fa-shopping-cart"></i> Panier</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link chic-link" aria-current="page" routerLink="login"><i class="fas fa-user"></i> Compte</a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="btn btn-outline-danger chic-button" (click)="logout()" routerLink="/"><i class="fa-duotone fa-solid fa-right-from-bracket"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>


