<!-- Première partie de la navbar : Logo, Recherche, Panier et Compte/Contact -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary custom-navbar py-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets/Smart Ways I.png" alt="Logo" class="navbar-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop"
      aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTop">
      <!-- Recherche avec recherche en temps réel -->
      <form class="d-flex mx-auto justify-content-center mb-2 mb-lg-0">
        <!-- <div class="input-group">
          <span class="input-group-text" id="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input class="form-control" type="search" placeholder="Recherche par nom ou type..." [(ngModel)]="searchTerm"
            name="searchTerm" (input)="onSearch()" aria-label="Search" aria-describedby="search-icon">
        </div> -->
      </form>



      <!-- Liens Panier, Compte, et Contact -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a class="nav-link chic-link position-relative" aria-current="page" routerLink="cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg-danger">{{ cartItemCount }}</span>
            Panier
          </a>
        </li>
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a class="nav-link chic-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link chic-link" aria-current="page" routerLink="login"><i class="fas fa-user"></i> Compte</a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="btn btn-outline-danger chic-button" (click)="logout()" routerLink="/"><i
              class="fa-duotone fa-solid fa-right-from-bracket"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Deuxième partie de la navbar : Liens de navigation (gestion, meubles, etc.) -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary custom-navbar border-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBottom"
      aria-controls="navbarBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarBottom">
      <ul class="navbar-nav mx-auto justify-content-center mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="products-management">Gestion des Meubles</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="salons-management">Gestion des Salons</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="chambres-management">Gestion des Chambres</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="salles-management">Gestion des Salle à
            Manger</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="packs-management">Gestion des Packs</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link" aria-current="page" routerLink="commandes-management">Commandes</a>
        </li>

        <!-- Dropdowns pour Meubles, Salons, Chambres, etc. -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link me-3 ms-3" routerLink="products" id="meublesDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">Meuble</a>
          <ul class="dropdown-menu" aria-labelledby="meublesDropdown">
            <li *ngFor="let type of meublesUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/products', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link  me-3 ms-3" routerLink="salons" id="salonsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Salon</a>
          <ul class="dropdown-menu" aria-labelledby="salonsDropdown">
            <li *ngFor="let type of salonsUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/salons', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>

        <!-- Chambres Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link me-3 ms-3" routerLink="chambres" id="chambresDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chambre
          </a>
          <ul class="dropdown-menu" aria-labelledby="chambresDropdown">
            <li *ngFor="let type of chambresUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/chambres', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>

        <!-- Salles à Manger Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a class="nav-link dropdown-toggle chic-link me-3 ms-3" routerLink="salles" id="salleDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Salle à Manger
          </a>
          <ul class="dropdown-menu" aria-labelledby="salleDropdown">
            <li *ngFor="let type of sallesUnique$ | async">
              <a class="dropdown-item" [routerLink]="['/salles', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a class="nav-link chic-link me-3 ms-3" aria-current="page" routerLink="packs">Packs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>