/* Styles généraux pour la navbar */
.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa; /* Ajustez selon votre design */
  height: 130px; /* Ajustez la hauteur si nécessaire */
  display: flex;
  align-items: center;
  margin: 0px -60px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  margin-left: 50%;
}
.navbar-logo {
  width: 90px;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}
.navbar-light .navbar-brand img {
  max-height: 40px;
}

.navbar-toggler {
  border: none;
  color: #000000;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
}

.dropdown-toggle-btn:focus {
  outline: none;
}
/* Links Styling */
.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 5px 20px;
  margin: auto 10px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #375778;
}
/* Styles pour le lien dropdown */
.nav-link.chic-link {
  position: relative;
}

/* Styles pour la flèche */
.dropdown-arrow {
  color: #ffffff;
  transition: transform 0.3s ease;
  font-size: 0.8rem;
  cursor: pointer;
}

.dropdown-arrow.rotate {
  color: #ffffff;
  transform: rotate(180deg);
}

/* Positionnement et style du menu dropdown */
.nav-item.dropdown {
  position: relative; /* Positionnement relatif pour centrer le menu */
}
/* Styles pour les grands écrans */
/* @media (min-width: 992px) { */
  .dropdown-menu {
    display: block; /* Permettre à l'animation de s'appliquer */
    opacity: 0; /* Initialement invisible */
    visibility: hidden; /* Pour éviter les interactions avant l'affichage */
    transform: translateY(-20px); /* Position de départ légèrement en dessous */
    background-color: #ffffff; /* Fond blanc pour le dropdown */
    border: 1px solid #e1e1e1; /* Bordure grise claire */
    border-radius: 5px; /* Coins légèrement arrondis */
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    padding: 10px 0; /* Espacement interne */
    z-index: 1000; /* S'assurer que le dropdown est au-dessus des autres éléments */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animation douce */
  }
  .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1; /* Complètement visible */
    visibility: visible; /* Permettre les interactions */
    transform: translateY(0); /* Retour à la position normale */
    position: absolute; /* Position absolue pour garder le dropdown sous le lien parent */
    top: 100%; /* Alignement sous le lien parent */
    left: 0; /* Alignement à gauche */
  }
/* } */

/* Styles des éléments du menu dropdown */
.dropdown-item {
  font-size: 14px;
  color: #2c3e50;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #3498db;
  border-radius: 5px;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}

/* Style pour les icônes de la navbar et les badges */
.nav-link i {
  font-size: 1.2rem;
  /* margin-right: 0.5rem; */
}

.badge {
  font-size: 12px;
  width: auto;
  height: 18px;
  padding: 0 6px;
  line-height: 18px;
  border-radius: 50%;
  min-width: 18px;
  display: inline-block;
  text-align: center;
  background-color: red;
  color: white;
  position: absolute;
  left: 0px; /* Ajuste la position vers la gauche */
  top: 0px; /* Ajuste la position vers le haut */
  z-index: 1;
}

/* Menu de navigation pour les petits écrans */
@media (max-width: 400px) {
  
  .logo-container {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    margin-left: auto;
  }
  /* .navbar-logo {
    width: 30px;
  } */

  /* .nav-link {
    font-size: 10px;
  }

  .navbar-nav {
    gap: 10px;
  } */
}



.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
  animation: slideDown 0.3s ease forwards;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:0 -60px; */
}

.search-bar.closing {
  animation: slideUp 0.3s ease forwards;
}

.search-input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1em;
}
.input-group-text{
  border: none;
  outline: none;
  background: white;
}
.btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px; /* Ajustez la position droite si nécessaire */
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
}


@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
