<!-- Première partie de la navbar : Logo, Recherche, Panier et Compte/Contact -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary custom-navbar d-none d-lg-flex">
  <div class="container-fluid">
    <!-- Logo au centre -->
    <div class="logo-container">
      <a (click)="toggleNavbar()" class="navbar-brand" routerLink="">
        <img src="assets/TM-.png" alt="Logo" class="navbar-logo" />
      </a>
    </div>
    <!-- Liens Panier, Compte, et autres éléments alignés à droite -->
    <div class="collapse navbar-collapse" id="navbarTopLarge">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <!-- Bouton de recherche -->
        <li class="nav-item" *ngIf="!isUser">
          <span class="nav-link chic-link" (click)="toggleSearch()" style="cursor: pointer;">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </li>
        <!-- Lien du Panier -->
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link position-relative" routerLink="cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg-danger">{{ cartItemCount }}</span>
          </a>
        </li>
        <!-- Lien de Connexion -->
        <li class="nav-item" *ngIf="!isUser">
          <a (click)="toggleNavbar()" class="nav-link chic-link" routerLink="login">
            <i class="fa-regular fa-user"></i>
          </a>
        </li>
        <!-- Lien des Commandes pour l'admin -->
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a class="nav-link chic-link position-relative" aria-current="page" routerLink="commandes-management">
            Commandes
            <span class="badge bg-danger">{{ commandeItemCount }}</span>
          </a>
        </li>
        <!-- Bouton de Déconnexion -->
        <li class="nav-item" *ngIf="isUser">
          <a (click)="toggleNavbar()" class="btn btn-outline-danger chic-button" (click)="logout()" routerLink="/">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Barre de recherche avec bouton de fermeture -->
  <div class="search-bar" *ngIf="isSearchVisible" [ngClass]="{ closing: isClosing }">
    <div class="input-group" style="height: 110px; width: 100%; margin: 0 auto;">
      <span class="input-group-text" id="search-icon" (click)="onSearch()" style="cursor: pointer;">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input class="search-input" type="search" placeholder="Je recherche..." [(ngModel)]="searchTerm"
        (keyup.enter)="onSearch()" name="searchTerm" aria-label="Search" aria-describedby="search-icon" />
      <button class="btn-close" (click)="closeSearchBar()">X</button>
    </div>
  </div>
</nav>




<!-- Navbar pour les petits écrans -->
<nav class="navbar navbar-light bg-body-tertiary custom-navbar d-flex d-lg-none">
  <div class="container-fluid">
    <a (click)="toggleNavbar()" class="navbar-brand" routerLink="">
      <img src="assets/TM-.png" alt="Logo" class="navbar-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarSmall"
      aria-controls="navbarSmall" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span *ngIf="!isNavbarOpen"><i class="fas fa-bars"></i></span>
      <span *ngIf="isNavbarOpen"><i class="fas fa-times"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSmall">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link" aria-current="page"
            routerLink="products-management">Gestion des Meubles</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link" aria-current="page"
            routerLink="salons-management">Gestion des Salons</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link" aria-current="page"
            routerLink="chambres-management">Gestion des Chambres</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link" aria-current="page"
            routerLink="salles-management">Gestion des Salle à
            Manger</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link" aria-current="page"
            routerLink="packs-management">Gestion des Packs</a>
        </li>
        <li class="nav-item" *ngIf="isUser && userType === 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link position-relative" aria-current="page"
            routerLink="commandes-management">
            Commandes
            <span class="badge bg-danger">{{ commandeItemCount }}</span>
          </a>
        </li>

        <!-- Dropdowns pour Meubles, Salons, Chambres, etc. -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link d-flex align-items-center me-3 ms-3"
            routerLink="products" id="meublesDropdown" role="button">Meuble</a>
          <i class="fas fa-chevron-down ms-2 dropdown-arrow" [class.rotate]="isDropdownOpen === 'meublesDropdown'"
            (click)="toggleDropdown('meublesDropdown')"></i>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen === 'meublesDropdown'"
            aria-labelledby="meublesDropdown">
            <li *ngFor="let type of meublesUnique$ | async">
              <a (click)="toggleNavbar()" class="dropdown-item" [routerLink]="['products', { type: type }]">{{ type
                }}</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link d-flex align-items-center me-3 ms-3" routerLink="salons"
            id="salonsDropdown" role="button">Salon</a>
          <i class="fas fa-chevron-down ms-2 dropdown-arrow" [class.rotate]="isDropdownOpen === 'salonDropdown'"
            (click)="toggleDropdown('salonDropdown')"></i>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen === 'salonDropdown'" aria-labelledby="salonsDropdown">
            <li *ngFor="let type of salonsUnique$ | async">
              <a (click)="toggleNavbar()" class="dropdown-item" [routerLink]="['salons', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>

        <!-- Chambres Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link d-flex align-items-center me-3 ms-3"
            routerLink="chambres" id="chambresDropdown" role="button">Chambre</a>
          <i class="fas fa-chevron-down ms-2 dropdown-arrow" [class.rotate]="isDropdownOpen === 'chambreDropdown'"
            (click)="toggleDropdown('chambreDropdown')"></i>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen === 'chambreDropdown'"
            aria-labelledby="chambresDropdown">
            <li *ngFor="let type of chambresUnique$ | async">
              <a (click)="toggleNavbar()" class="dropdown-item" [routerLink]="['chambres', { type: type }]">{{ type
                }}</a>
            </li>
          </ul>
        </li>

        <!-- Salles à Manger Dropdown -->
        <li class="nav-item dropdown" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link d-flex align-items-center me-3 ms-3" routerLink="salles"
            id="salleDropdown" role="button">Salle à Manger</a>
          <i class="fas fa-chevron-down ms-2 dropdown-arrow" [class.rotate]="isDropdownOpen === 'salleDropdown'"
            (click)="toggleDropdown('salleDropdown')"></i>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen === 'salleDropdown'" aria-labelledby="salleDropdown">
            <li *ngFor="let type of sallesUnique$ | async">
              <a (click)="toggleNavbar()" class="dropdown-item" [routerLink]="['salles', { type: type }]">{{ type }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link me-3 ms-3" aria-current="page"
            routerLink="packs">Packs</a>
        </li>


        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link position-relative" routerLink="cart">
            <i class="fas fa-shopping-cart"></i> Panier
            <span class="badge bg-danger">{{ cartItemCount }}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="userType !== 'admin'">
          <a (click)="toggleNavbar()" class="nav-link chic-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a (click)="toggleNavbar()" class="nav-link chic-link" routerLink="login"><i class="fas fa-user"></i>
            Compte</a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a (click)="toggleNavbar()" class="btn btn-outline-danger chic-button" (click)="logout()" routerLink="/"><i
              class="fas fa-sign-out-alt"></i></a>
        </li>
        <!-- Ajoutez d'autres éléments de menu pour petits écrans ici -->
      </ul>
    </div>
  </div>
</nav>


<!-- <div *ngIf="allResults.length > 0; else noResults">
  <ul>
    <li *ngFor="let item of allResults">
      {{ item.name }} - {{ item.price }}
    </li>
  </ul>
</div>

<ng-template #noResults>
  <p>Aucun résultat trouvé.</p>
</ng-template> -->