<div class="container mt-5">
    <div *ngIf="product" class="row align-items-start">
        <!-- Left Section: Sidebar and Main Image -->
        <div class="col-md-6 d-flex">
            <div class="sidebar">
                <div class="thumbnails">
                    <img *ngFor="let image of product.images" [src]="image" alt="{{ product.name }}"
                        class="img-thumbnail" (click)="selectImage(image)" [class.active]="image === selectedImage" />
                </div>
            </div>
            <div class="main-image-container">
                <img [src]="selectedImage" alt="{{ product.name }}" class="main-image" />
            </div>
        </div>

        <!-- Right Section: Product Information -->
        <div class="col-md-6">
            <h2 class="product-title">{{ product.name }}</h2>
            <h3> <strong>
                    <p class="text-success price">
                        <!-- <strong>Prix:</strong> -->
                        {{ product.price }} TND
                    </p>
                </strong>
            </h3>
            <div class="product-info mt-3">
                <p class="description">
                    <!-- <strong>Description:</strong> -->
                    {{ product.description }}
                </p>
                <p class="dimensions"><strong>Dimensions:</strong> {{ product.dimensions }}</p>
                <p class="material"><strong>Matières:</strong> {{ product.material }}</p>
                <div class="color-samples">
                    <!-- <strong>Couleurs:</strong> -->
                    <span *ngFor="let color of product.colors" [style.backgroundColor]="color" class="color-sample"
                        title="{{ color }}"></span>
                </div>
                <!-- <p><strong>Type:</strong> {{ product.type }}</p> -->
            </div>
            <div class="input-group mb-3 quantity-input">
                <span class="input-group-text">Quantité:</span>
                <input type="number" class="form-control" [(ngModel)]="quantity" min="1"
                    max="{{product.stock}}" [disabled]="product.stock === 0"
                    (input)="validateQuantity()">
            </div>
            <!-- Error messages -->
            <div *ngIf="quantityError" class="text-danger">
                {{ quantityError }}
            </div>
            <button [disabled]="product.stock! === 0" class="btn custom-btn" title="Add to Cart"
                (click)="addToCart(product,quantity)">
                <i class="fa-solid fa-cart-shopping"></i>
                Ajouter au panier
            </button>
        </div>
    </div>

    <div *ngIf="!product">
        <p>Produit non trouvé.</p>
    </div>
</div>