<div class="container mt-5 login-container">
    <div class="row justify-content-center">
        <!-- <div class="col-md-6"> -->
            <div class="">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="text-center">
                        <h1 class="h4 mb-4">Se connecter</h1>
                    </div><div class="form-group">
                        <p-floatLabel>
                            <input pInputText formControlName="email" type="email" name="email"
                                class="form-control form-control-user" id="exampleInputEmail"
                                aria-describedby="emailHelp" placeholder="" autocomplete="email" />
                            <label for="exampleInputEmail">Entrez votre adresse e-mail...</label>
                        </p-floatLabel>
                        <div *ngIf="getEmail()?.invalid && getEmail()?.touched" class="text-danger">
                            <small *ngIf="getEmail()?.errors?.['required']">L'e-mail est obligatoire</small>
                            <small *ngIf="getEmail()?.errors?.['email']">Entrez un e-mail valide</small>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <p-floatLabel>
                            <input pInputText [type]="passwordFieldType" formControlName="password"
                                class="form-control form-control-user pr-5" id="exampleInputPassword"
                                autocomplete="current-password" />
                            <i class="fas" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                                (click)="togglePasswordVisibility()"
                                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            </i>
                            <label for="exampleInputPassword">Entrez votre mot de passe...</label>
                        </p-floatLabel>
                        <div *ngIf="getPassword()?.invalid && getPassword()?.touched" class="text-danger">
                            <small *ngIf="getPassword()?.errors?.['required']">Le mot de passe est obligatoire</small>
                            <small *ngIf="getPassword()?.errors?.['minlength']">Le mot de passe doit contenir au moins 6
                                caractères</small>
                        </div>
                    </div>
                    <div class="forgot-password-link">
                        <a class="small" routerLink="/resetpassword">Mot de passe oublié ?</a>
                    </div>
                    <div *ngIf="errorMessage" class="error-message" style="color: red;">
                        {{ errorMessage }}
                    </div>
                    <button type="submit" (click)="login()" class="btn btn-secondary btn-block"
                        [disabled]="loginForm.invalid" style="width: 100%;">Se connecter</button>
                    <hr>
                    <div class="row mt-2">
                        <a (click)="sighInGoogle()" style="text-decoration: none; cursor: pointer;">
                            <div class="card shadow text-center">
                                <div class="card-body" style="font-size: 20px;">
                                    <img style="height: 24px; margin: 5px;" src="../../assets/icon-google.png"
                                        alt="google">Se connecter avec Google
                                </div>
                            </div>
                        </a>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a class="small" routerLink="/register">Créer un compte !</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- </div> -->