<div class="container mt-5">
    <main class="reset-password-container">
        <section class="text-center header-section">
            <h2>Mot de passe oublié ?</h2>
            <p>Nous vous enverrons un lien de réinitialisation à votre adresse email.</p>
        </section>
        <div class="form-group">
            <input type="email" [(ngModel)]="email" class="form-control form-control-user" id="email"
                placeholder="Entrez votre email" required>
        </div><br>
        <button class="btn btn-secondary btn-block reset-btn" (click)="resetPassword(email)">Réinitialiser le mot de
            passe</button><br><br>
        <a href="login" class="text-decoration-none">annuler</a>
    </main>
</div>