<div class="container">
    <main class="reset-password-container">
        <section class="text-center header-section">
            <h2>Forgot Your Password?</h2>
            <p>We'll send you a reset link to your email address.</p>
        </section>
        <div class="form-group">
            <input type="email" [(ngModel)]="email" class="form-control form-control-user" id="email"
                placeholder="Enter your email" required>
        </div><br>
        <button class="btn reset-btn" (click)="resetPassword(email)">Reset Password</button>
    </main>
</div>
