<div class="container mt-5">
    <div *ngIf="salle" class="row align-items-start">
        <!-- Left Section: Sidebar and Main Image -->
        <div class="col-md-8 d-flex">
            <div class="sidebar">
                <div class="thumbnails">
                    <img *ngFor="let image of salle.images" [src]="image" alt="{{ salle.name }}" class="img-thumbnail"
                        (click)="selectImage(image)" [class.active]="image === selectedImage" />
                </div>
            </div>
            <div class="main-image-container">
                <img [src]="selectedImage" alt="{{ salle.name }}" class="main-image" />
            </div>
        </div>

        <!-- Right Section: salle Information -->
        <div class="col-md-4">
            <h2 class="salle-title">{{ salle.name }}</h2>
            <hr>
            <h3> <strong>
                    <p class="text-success price">
                        <!-- <strong>Prix:</strong> -->
                        {{ salle.price }} TND
                    </p>
                </strong>
            </h3>
            <hr>
            <!-- <div class="salle-info mt-3"> -->
            <p class="description">
                <strong>Description:</strong>
                <!-- {{ salle.description }} -->
            </p>
            <p class="dimensions">Dimensions: {{ salle.dimensions }}</p>
            <p class="material">Matières: {{ salle.material }}</p>
            <hr>
            <div>
                <strong style="cursor: pointer;" (click)="toggleDetails()">
                    Détails
                    <span [ngClass]="{'fa-solid fa-angle-down': !showDetails, 'fa fa-chevron-up': showDetails}"></span>
                </strong>

                <div class="details-container" [ngClass]="{'show': showDetails}">
                    <img *ngFor="let image of salle.details" [src]="image" alt="{{ salle.name }}" class="img-thumbnail"
                        (click)="selectImage(image)" [class.active]="image === selectedImage" />
                </div>
            </div>
            <hr>
            <div class="color-samples">
                <!-- <strong>Couleurs:</strong> -->
                <span *ngFor="let color of salle.colors" [style.backgroundColor]="color" class="color-sample"
                    title="{{ color }}"></span>
            </div>
            <!-- <p><strong>Type:</strong> {{ salle.type }}</p> -->
            <!-- </div> -->
            <div class="input-group mb-3 quantity-input">
                <span class="input-group-text">Quantité:</span>
                <input type="number" class="form-control" [(ngModel)]="quantity" min="1" max="{{salle.stock}}"
                    [disabled]="salle.stock === 0" (input)="validateQuantity()">
            </div>
            <!-- Error messages -->
            <div *ngIf="quantityError" class="text-danger">
                {{ quantityError }}
            </div>
            <button [disabled]="salle.stock! === 0" class="btn custom-btn" title="Add to Cart"
                (click)="addToCart(salle,quantity)">
                <i class="fa-solid fa-cart-shopping"></i>
                Ajouter au panier
            </button>
        </div>
    </div>

    <div *ngIf="!salle">
        <div class="error-page">
            <div class="error-content">
                <p>salle non trouvé.</p>
            </div>
        </div>
    </div>
</div>