/* Styles pour la sidebar */
.custom-sidebar {
  position: fixed;
  border-right: 1px solid #ccc;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Couleur de fond de la sidebar */
  overflow-y: auto; /* Active le défilement vertical si nécessaire */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  transform: translateX(calc(-100% + 60px)); /* Cachée par défaut */
  transition: transform 0.5s ease;
  z-index: 1000; /* Assurez-vous qu'elle est au-dessus du contenu */
  padding: 10px; 
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.navbar-logo {
  width: 90px;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}
.custom-sidebar.active {
  transform: translateX(0);
  /* margin: 60; */
  width: calc(100% - 60px);
}

/* Style pour le bouton toggle */
.toggle-btn {
  font-family: "Harmonia Sans", sans-serif;
  transform: rotate(270deg); /* Rotation de 90 degrés */
  position: fixed;
  top: 50%;
  left: -10px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  z-index: 1100; /* Toujours au-dessus */
  color: black;
}

.sidebar-content {
  padding: 20px; /* Ajoute une marge intérieure */
  margin-left: 60px;
}

.custom-sidebar .container-fluid {
  display: flex;
  justify-content: center; /* Centre le logo horizontalement */
  align-items: center; /* Centre le logo verticalement */
  padding: 20px 0; /* Ajoute un peu de marge au-dessus et en dessous */
}

/* Sidebar List */
.sidebar-side {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Définit la liste en flex */
  flex-direction: row;
  flex-wrap: wrap;
}

.side-item {
  margin: 0; /* Supprime les marges excessives */
}

.side-link {
  display: block; /* Assure que les liens restent en ligne */
  padding-top: 30px;
  padding-left: 16px;
  font-family: "Harmonia Sans",sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #424242;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

/* .side-link:hover,
.side-link:focus {
  color: #3498db;
} */

/* Styles pour le menu et sous-menu */
.submenu {
  list-style-type: none;
  margin-top: 5px;
}

.side-sublink {
  font-size: 12px;
  color: #424242;
  text-decoration: none;
  /* padding: 5px 0; */
  display: block;
  transition: color 0.3s;
}

/* .side-sublink:hover {
  color: #3498db;
} */

.social-sidebar {
  position: fixed;
  border-left: 1px solid #ccc;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-color: #fff;
  /* transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  /* padding: 10px;
    border-radius: 10px 0 0 10px; */
  justify-content: center; /* Centre verticalement les liens */
  align-items: center;
  z-index: 1000;
}

.social-sidebar a {
  color: #000000;
  font-size: 1em;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
}

.social-sidebar a:hover {
  color: #f0f0f0;
  transform: scale(1.1);
}
