<div class="container-fluid">
    <h2>Gestion des Salons</h2>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card border-0 shadow p-4">
                <div class="form-floating mb-3 text-center">
                    <h4 class="text-center text-primary">{{ isEdit ? 'Modifier' : 'Ajouter' }} Salon</h4>
                </div>
                <form [formGroup]="salonForm" (ngSubmit)="addOrUpdateProduct()">
                    <div class="row">

                        <!-- Hidden input for the salonId -->
                        <input formControlName="salonId" type="hidden">

                        <!-- salon Name Field -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="categoryName" formControlName="name"
                                    required>
                                <label for="categoryName">Nom de la Salon</label>
                                <div *ngIf="salonForm.get('name')?.invalid && (salonForm.get('name')?.touched || salonForm.get('name')?.dirty)"
                                    class="text-danger">
                                    Le nom de la Salon est requis.
                                </div>
                            </div>
                        </div>

                        <!-- salon Type Field -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="categoryType" formControlName="type"
                                    required>
                                <label for="categoryType">Type de la Salon</label>
                                <div *ngIf="salonForm.get('type')?.invalid && (salonForm.get('type')?.touched || salonForm.get('type')?.dirty)"
                                    class="text-danger">
                                    Le type de la Salon est requis.
                                </div>
                            </div>
                        </div>


                        <!-- Prix du salon -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="productPrice" formControlName="price"
                                    required>
                                <label for="productPrice">Prix</label>
                                <div *ngIf="salonForm.get('price')?.invalid && (salonForm.get('price')?.touched || salonForm.get('price')?.dirty)"
                                    class="text-danger">
                                    Le prix est requis.
                                </div>
                            </div>
                        </div>

                        <!-- Stock du produit -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="productStock" formControlName="stock"
                                    required>
                                <label for="productStock">Stock</label>
                                <div *ngIf="salonForm.get('stock')?.invalid && (salonForm.get('stock')?.touched || salonForm.get('stock')?.dirty)"
                                    class="text-danger">
                                    Le stock est requis.
                                </div>
                            </div>
                        </div>

                        <!-- Dimensions -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" id="productDimensions" formControlName="dimensions"
                                    required></textarea>
                                <label for="productDimensions">Dimensions</label>
                                <div *ngIf="salonForm.get('dimensions')?.invalid && (salonForm.get('dimensions')?.touched || salonForm.get('dimensions')?.dirty)"
                                    class="text-danger">
                                    Les dimensions sont requises.
                                </div>
                            </div>
                        </div>

                        <!-- Matériau -->
                        <div class="col-md-4 mb-3">
                            <div class="form-floating">
                                <input type="text" id="material" formControlName="material" class="form-control"
                                    required>
                                <label for="material">Matériau</label>
                                <div *ngIf="salonForm.get('material')?.invalid && (salonForm.get('material')?.touched || salonForm.get('material')?.dirty)"
                                    class="text-danger">
                                    Le matériau est requis.
                                </div>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="col-md-12 mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" id="productDescription" formControlName="description"
                                    required></textarea>
                                <label for="productDescription">Description</label>
                                <div *ngIf="salonForm.get('description')?.invalid && (salonForm.get('description')?.touched || salonForm.get('description')?.dirty)"
                                    class="text-danger">
                                    La description est requise.
                                </div>
                            </div>
                        </div>

                        <!-- salon Colors Management -->
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input type="color" id="color" (change)="addColor($event)" class="form-control"
                                    required>
                                <label for="color">Couleur</label>
                                <div *ngIf="salonForm.get('colors')?.invalid && (salonForm.get('colors')?.touched || salonForm.get('colors')?.dirty)"
                                    class="text-danger">
                                    La couleur est requise.
                                </div>

                                <!-- Container for color boxes -->
                                <!-- <div style="display: flex; flex-wrap: wrap; gap: 5px; margin-top: 10px;"> -->
                                <div *ngFor="let color of salonForm.get('colors')?.value"
                                    style="display: flex; align-items: center;">
                                    <span class="color-box color-circle" [ngStyle]="{'background-color': color}"></span>
                                    <button type="button" class="btn btn-danger" (click)="removeColor(color)"
                                        style="width: 20px; height: 20px; padding: 0; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-left: 5px;">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->

                        <!-- Téléchargement d'images -->
                        <div class="col-md-6 mb-3">
                            <div class="form-floating">
                                <input type="file" class="form-control" (change)="onFileChange($event)"
                                    id="categoryImage" accept="image/*" multiple required>
                                <label for="categoryImage">Images</label>
                                <div *ngIf="salonForm.get('images')?.invalid && (salonForm.get('images')?.touched || salonForm.get('images')?.dirty)"
                                    class="text-danger">
                                    Les images sont requises.
                                </div>

                                <!-- Container for images -->
                                <div style="display: flex; flex-wrap: wrap; gap: 5px; margin-top: 10px;">
                                    <div *ngFor="let img of salonForm.get('images')?.value" style="position: relative;">
                                        <img [src]="img" alt="Image du Salon" class="img-fluid img-thumbnail"
                                            style="max-width: 100px;">
                                        <button type="button" class="btn btn-danger badge position-absolute"
                                            (click)="removeImage(img)"
                                            style="width: 20px; height: 20px; padding: 0; border-radius: 50%; align-items: center; justify-content: center; top: 0; right: 0;">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="mb-3">
                            <label for="productSelection">Sélectionner des Produits</label>
                            <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 5px;">

                                <div *ngFor="let product of products">
                                    <input type="checkbox" [value]="product.productId"
                                        (change)="onProductSelect($event, product)" />
                                    {{ product.name }} - {{ product.price }} TND
                                </div>
                            </div>
                        </div>

                        <div *ngIf="(salonForm.get('items')?.value||[]).length > 0" class="mt-3">
                            <h5>Produits sélectionnés :</h5>
                            <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 5px;">
                                <div *ngFor="let productName of getSelectedProductNames()" class="selected-product">
                                    <span>{{ productName }}</span>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="removeProduct(productName)">X</button>
                                </div>
                            </div>
                        </div> -->

                        <!-- Boutons d'action -->
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-success" *ngIf="!isEdit">Ajouter
                                Salon</button>
                            <button type="submit" class="btn btn-outline-primary" *ngIf="isEdit">Modifier
                                Salon</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- salon List Display -->
    <div class="mb-3">
        <h4>Liste des Salons</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Prix</th>
                    <th>Description</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Dimensions</th>
                    <th scope="col">Matériau</th>
                    <th>Images</th>
                    <!-- <th>Produits</th> -->
                    <th>Couleurs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let salon of salons">
                    <!-- <td>{{ salon.salonId }}</td> -->
                    <td>{{ salon.name }}</td>
                    <td>{{ salon.type }}</td>
                    <td>{{ salon.price }} TND</td>
                    <td>{{ salon.description }}</td>
                    <td>{{ salon.stock }}</td>
                    <td>{{ salon.dimensions }}</td>
                    <td>{{ salon.material }}</td>
                    <td>
                        <div style="display: flex; flex-wrap: wrap;">
                            <img *ngFor="let img of salon.images" [src]="img" alt="Image de la Salon"
                                class="img-fluid img-thumbnail me-2" style="max-width: 100px; margin-bottom: 5px;">
                        </div>
                    </td>
                    <!-- <td>
                        <ul>
                            <li *ngFor="let productId of salon.items">
                                {{ getProductById(productId)?.name || 'Produit introuvable' }} -
                                {{ getProductById(productId)?.price || '0' }} TND
                            </li>
                        </ul>
                    </td> -->

                    <td>
                        <div style="display: flex; flex-wrap: wrap;">
                            <span *ngFor="let color of salon.colors" class="color-box color-circle"
                            [ngStyle]="{'background-color': color}"   ></span>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info btn-sm"
                            (click)="editSalon(salon)">Modifier</button><br><br>
                        <button class="btn btn-outline-danger btn-sm"
                            (click)="salon.salonId ? deleteSalon(salon.salonId) : null">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>