<div class="container mt-5 register-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="register(f)" class="border p-4 shadow rounded">
        <div class="text-center">
          <h1 class="h4 mb-4">S'inscrire</h1>
        </div>

        <div>
          <!-- Champs pour l'inscription du client -->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="flNameIcon"><i class="far fa-smile"></i></span>
              <input type="text" name="flName" #flName="ngModel" ngModel required class="form-control input-field"
                placeholder="Nom et prénom" aria-label="Nom et prénom" aria-describedby="flNameIcon">
            </div>
            <div>
              <small class="alert text-danger small" *ngIf="flName.errors?.required && flName.touched">Le nom et prénom
                sont obligatoires</small>
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="telephoneIcon"><i class="fas fa-phone"></i></span>
              <input type="number" name="telephone" #telephone="ngModel" ngModel required
                class="form-control input-field" placeholder="Numéro de téléphone" aria-label="Numéro de téléphone"
                aria-describedby="telephoneIcon">
            </div>
            <div>
              <small class="alert text-danger small" *ngIf="telephone.errors?.required && telephone.touched">Le numéro
                de téléphone est obligatoire</small>
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="emailIcon"><i class="far fa-envelope"></i></span>
              <input type="text" name="email" autocomplete="username" #email="ngModel" ngModel email required
                class="form-control input-field" placeholder="Email" aria-label="Email" aria-describedby="emailIcon">
            </div>
            <div class="alert text-danger" *ngIf="email.errors?.required && email.touched">L'email est obligatoire</div>
            <div class="alert text-danger" *ngIf="email.errors?.email && email.touched">Veuillez entrer une adresse
              email valide</div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="passwordIcon"><i class="fas fa-lock"></i></span>
              <input type="password" name="password" autocomplete="new-password" #password="ngModel" ngModel required
                class="form-control input-field" placeholder="Mot de passe" aria-label="Mot de passe"
                aria-describedby="passwordIcon">
            </div>
            <div class="alert text-danger" *ngIf="password.errors?.required && password.touched">Le mot de passe est
              obligatoire</div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text" id="confirmPasswordIcon"><i class="fas fa-lock"></i></span>
              <input type="password" name="confirmPassword" autocomplete="new-password" #confirmPassword="ngModel"
                ngModel required class="form-control input-field" placeholder="Confirmer le mot de passe"
                aria-label="Confirmer le mot de passe" aria-describedby="confirmPasswordIcon">
            </div>
            <div class="alert text-danger" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">La
              confirmation du mot de passe est obligatoire</div>
            <div class="alert text-danger" *ngIf="password.value !== confirmPassword.value && password.touched">Les mots
              de passe ne correspondent pas</div>
          </div>
        </div>

        <button type="submit" class="btn btn-secondary btn-block" [disabled]="f.invalid"
          style="width: 100%;">S'inscrire</button>
        <br>
        <div class="mt-3 text-center">
          <a href="login" class="text-decoration-none">Vous avez déjà un compte ?</a>
        </div>
        <br>
      </form>
    </div>
  </div>
</div>